<html>
    <head>
        <title>Trading Game</title>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
            integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
            crossorigin="anonymous"></script>
    </head>
</html>

<p id="clock"></p>
<p id="welcome">Welcome, {{ user }}</p>

<script>
    const socket = io();

    socket.on("connect", () => {
        console.log("socket connected))");
    });

    socket.on("tick", (msg) => {
        let d = JSON.parse(msg);
        let element = document.getElementById("clock");
        element.innerHTML = d["dt"]
    });
</script>