<html>
<head>
    <title>Trading Game Market Phase</title>
    <style>

        .wrapper {
            display: flex;
            justify-content: space-evenly;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
</head>
<body>

<p id="clock"></p>
<p id="user" style="display: none">{{ user }}</p>
time remaining:
<p id="time_left"></p>
net position: <p id="position">0</p>
<br>
<form action="" method="" class="manual-input">
    <div>
        <label for="px">px: </label>
        <input type="text" name="px" id="px-input">
    </div>
    <div>
        <label for="qty">qty(int): </label>
        <input type="text" name="qty" value="1" id="qty-input" required>
    </div>
    <div>
        <label for="is_buy">is buy?</label>
        <input type="checkbox" name="is_buy" id="is-buy-input" checked>
    </div>
    <div>
        <input type="button" onclick="handle_limit()" value="send LIMIT order">
    </div>
    <div>
        <input type="button" onclick="handle_market_buy()" value="send MKT buy">
    </div>
    <div>
        <input type="button" onclick="handle_market_sell()" value="send MKT sell">
    </div>
    <div>
        <input type="button" onclick="handle_cancel_bids()" value="CANCEL bids">
    </div>
    <div>
        <input type="button" onclick="handle_cancel_asks()" value="CANCEL asks">
    </div>
</form>
<br><br>
<div class="wrapper">
<div id="bid-grid">
</div>
<div id="ask-grid">
</div>
<table id="public-trades">
<caption>public trades</caption>
<thead>
    <tr>
        <td>agg user</td>
        <td>agg side</td>
        <td>qty</td>
        <td>px</td>
        <td>passive user</td>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<table id="private-trades">
<caption>private trades</caption>
<thead>
    <tr>
        <td>side</td>
        <td>qty</td>
        <td>price</td>
        <td>agg</td>
        <td>counterparty</td>
    </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<script>
    const socket = io();

    socket.on("tick", (msg) => {
        console.log("tick, msg=", msg);
        let data = JSON.parse(msg);
        let clock = document.getElementById("clock");
        clock.innerHTML = data["dt"];

        if ("market_time_left" in data) {
            let time_ele = document.getElementById("time_left");
            time_ele.innerHTML = data["market_time_left"];
        }
    });

    socket.on("top", (msg) => {
        console.log("top, msg=", msg);
        let data = JSON.parse(msg);
        
        let bid_rows = data['bid_rows'];
        let bid_cols = data['bid_columns'];
        let bid_grid = data['bid_grid'];
        let bid_table = document.createElement('table');
        let bid_thead = document.createElement('thead');
        let bid_tbody = document.createElement('tbody');

        let bid_caption = document.createElement('caption');
        bid_caption.innerHTML = "open bids";
        bid_table.appendChild(bid_caption);

        bid_table.appendChild(bid_thead);
        bid_table.appendChild(bid_tbody);

        let bid_hr = document.createElement('tr');
        let bid_th1 = document.createElement('th');
        let bid_th2 = document.createElement('th');
        let bid_th3 = document.createElement('th');
        bid_th1.innerHTML = 'player';
        bid_th2.innerHTML = 'qty';
        bid_th3.innerHTML = 'price';
        bid_hr.append(bid_th1);
        bid_hr.append(bid_th2);
        bid_hr.append(bid_th3);
        bid_thead.append(bid_hr);

        for (const bid_row of bid_rows) {
            let bid_tr = document.createElement('tr');
            for (const [column, value] of Object.entries(bid_grid[bid_row])) {
                let bid_td = document.createElement('td');
                bid_td.innerHTML = value;
                bid_tbody.appendChild(bid_td);
            }
            bid_tbody.append(bid_tr);
        }
        let bid_div = document.getElementById('bid-grid');
        bid_div.removeChild(bid_div.firstChild);
        bid_div.appendChild(bid_table);

        let ask_rows = data['ask_rows'];
        let ask_cols = data['ask_columns'];
        let ask_grid = data['ask_grid'];
        let ask_table = document.createElement('table');
        let ask_thead = document.createElement('thead');
        let ask_tbody = document.createElement('tbody');

        let ask_caption = document.createElement('caption');
        ask_caption.innerHTML = "open asks";
        ask_table.appendChild(ask_caption);

        ask_table.appendChild(ask_thead);
        ask_table.appendChild(ask_tbody);

        let ask_hr = document.createElement('tr');
        let ask_th1 = document.createElement('th');
        let ask_th2 = document.createElement('th');
        let ask_th3 = document.createElement('th');
        ask_th1.innerHTML = 'price';
        ask_th2.innerHTML = 'qty';
        ask_th3.innerHTML = 'player';
        ask_hr.append(ask_th1);
        ask_hr.append(ask_th2);
        ask_hr.append(ask_th3);
        ask_thead.append(ask_hr);

        for (const ask_row of ask_rows) {
            let ask_tr = document.createElement('tr');
            for (const [column, value] of Object.entries(ask_grid[ask_row])) {
                let ask_td = document.createElement('td');
                ask_td.innerHTML = value;
                ask_tbody.appendChild(ask_td);
            }
            ask_tbody.append(ask_tr);
        }
        let ask_div = document.getElementById('ask-grid');
        ask_div.removeChild(ask_div.firstChild);
        ask_div.appendChild(ask_table);
    });

    socket.on("position", (msg) => {
        console.log("position, msg=", msg);
        let data = JSON.parse(msg);
        let user = data['player'];
        if (user === document.getElementById("user").innerHTML) {
            let pos_ele = document.getElementById("position");
            pos_ele.innerHTML = data['position'];
        }
    });

    socket.on("trade", (msg) => {
        console.log("trade, msg=", msg);
        let data = JSON.parse(msg);
        var tbody_ref = document.getElementById('trades-table').getElementsByTagName('tbody')[0];
        
        let html_content = "<tr><td>" + data["passive_account"] + "</td><td>" + data["passive_side"] + "</td><td>" + data["volume"] + "</td><td>" + data["price"] + "</td></tr>";
        var new_row = tbody_ref.insertRow(tbody_ref.rows.length);
        new_row.innerHTML = html_content;
    });

    socket.on("public_trade", (msg) => {
        console.log("public_trade, msg=", msg);
        let data = JSON.parse(msg);
        let tbody_ref = document.getElementById('public-trades').getElementsByTagName('tbody')[0];
        let html_content = "<tr><td>" + data["agg_user"] + "</td><td>" + data["agg_side"] + "</td><td>" + data["qty"] + "</td><td>" + data["px"] + "</td><td>" + data["passive_user"] + "</td></tr>";
        let new_row = tbody_ref.insertRow(tbody_ref.rows.length);
        new_row.innerHTML = html_content;
    });

    socket.on("private_trade", (msg) => {
        console.log("private_trade, msg=", msg);
        let data = JSON.parse(msg);
        let user = data['player'];
        if (user === document.getElementById("user").innerHTML) {
            let tbody_ref = document.getElementById('private-trades').getElementsByTagName('tbody')[0];
            let html_content = "<tr><td>" + data["side"] + "</td><td>" + data["qty"] + "</td><td>" + data["px"] + "</td><td>" + data["agg"] + "</td><td>" + data["counterparty"] + "</td></tr>";
            let new_row = tbody_ref.insertRow(tbody_ref.rows.length);
            new_row.innerHTML = html_content;
        }
    });

    socket.on("end_market_game", (msg) => {
        window.location.href = "{{ url_for('results') }}";
    });
    
    function handle_limit() {
        console.log("handle_limit");
        let qty = document.getElementById('qty-input').value;
        let px = document.getElementById('px-input').value;
        let is_buy = document.getElementById('is-buy-input').checked;
        let side = is_buy ? "BUY" : "SELL";
        let user_name = document.getElementById("user").innerHTML;
        let order = {
            qty: qty,
            px: px,
            side: side,
            user: user_name
        };
        socket.emit("handle_limit", JSON.stringify(order));
    }

    function handle_market_buy() {
        console.log('handle_market_buy');
        let qty = document.getElementById('qty-input').value;
        let user_name = document.getElementById("user").innerHTML;
        let order = {
            qty: qty,
            side: "BUY",
            user: user_name
        };
        socket.emit("handle_market", JSON.stringify(order));
    }

    function handle_market_sell() {
        console.log('handle_market_sell');
        let qty = document.getElementById('qty-input').value;
        let user_name = document.getElementById('user').innerHTML;
        let order = {
            qty: qty,
            side: "SELL",
            user: user_name
        };
        socket.emit("handle_market", JSON.stringify(order));
    }

    function handle_cancel_bids() {
        let user_name = document.getElementById("user").innerHTML;
        let payload = {
            user: user_name,
            side: "BUY"
        };
        socket.emit("handle_cancel_side", JSON.stringify(payload));
    }

    function handle_cancel_asks() {
        let user_name = document.getElementById("user").innerHTML;
        let payload = {
            user: user_name,
            side: "SELL"
        };
        socket.emit("handle_cancel_side", JSON.stringify(payload));
    }

</script>

</body>
</html>