<html>
<head>    
    <title>Trading Game Market Open</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
</head>        
<body>
<p id="clock"></p>
<p id="user" style="display: none">{{ user }}</p>
<br><br><br>

<form action="" method="" class="side-form">
    <div class="side-form">
        <input id="buy_button" type="button" onclick="handle_buy_side()" value="buy">
    </div>
    <div class="side-form">
        <input id="sell_button" type="button" onclick="handle_sell_side()" value="sell">
    </div>
</form>

<script>
    const socket = io();

    socket.on("tick", (msg) => {
        console.log("session id: ", socket.io.engine.id);
        let d = JSON.parse(msg);
        let element = document.getElementById('clock');
        element.innerHTML = d['dt'];
    });

    socket.on("advance_to_market", (msg) => {
        let user_name = document.getElementById("user").innerHTML;
        let d = JSON.parse(msg);
        if (d["user"] == user_name) {
            window.location.href = "{{ url_for('market') }}";
        }
    });

    socket.on("initial_prices", (msg) => {
        console.log("initial_prices");
        let d = JSON.parse(msg);
        let buy_button = document.getElementById('buy_button');
        buy_button.value = "buy @ " + d['initial_ask']
        let sell_button = document.getElementById('sell_button');
        sell_button.value = "sell @ " + d['initial_bid']
    });

    function handle_buy_side() {
        let user_name = document.getElementById("user").innerHTML;
        let update = {
            "side" : "BUY",
            "user": user_name,
        };
        socket.emit("handle_open_side", JSON.stringify(update));
    }

    function handle_sell_side() {
        let user_name = document.getElementById("user").innerHTML;
        let update = {
            "side" : "SELL",
            "user": user_name
        };
        socket.emit("handle_open_side", JSON.stringify(update));
    }

</script>
</body>
</html>