<html>
<head>    
    <title>Trading Game Market Open</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
</head>        
<body>
<p>CURRENT USER: {{ user }}</p>
<p id="user" style="display: none">{{ user }}</p>
time remaining:
<p id="time_left"></p>
<br><br><br>

<form id="side-submission" action="" method="" class="side-form" style="display: none;">
    <div class="side-form">
        <input id="buy_button" type="button" onclick="handle_buy_side()" value="buy">
    </div>
    <div class="side-form">
        <input id="sell_button" type="button" onclick="handle_sell_side()" value="sell">
    </div>
</form>

<script>
    const socket = io();

    socket.on("tick", (msg) => {
        console.log("session id: ", socket.io.engine.id);
        let data = JSON.parse(msg);
        if ("side_time_left" in data) {
            let time_ele = document.getElementById("time_left");
            time_ele.innerHTML = data["side_time_left"];
        }
    });

    socket.on("advance_to_market", (msg) => {
        window.location.href = "{{ url_for('market') }}";
    });

    socket.on("initial_prices", (msg) => {
        console.log("initial_prices");
        let d = JSON.parse(msg);
        let buy_button = document.getElementById('buy_button');
        buy_button.value = "buy @ " + d['initial_ask'];
        let sell_button = document.getElementById('sell_button');
        sell_button.value = "sell @ " + d['initial_bid'];
        let user_name = document.getElementById("user").innerHTML;
        if (d["initial_mm"] !== user_name) {
            let element = document.getElementById("side-submission");
            element.style.display = 'block';
        }
    });

    socket.on("hide_side_form", (msg) => {
        console.log("hide_side_form");
        let d = JSON.parse(msg);
        let user_name = document.getElementById("user").innerHTML;
        if (d["user"] == user_name) {
            let element = document.getElementById("side-submission");
            element.style.display = 'none';
        }
    });

    socket.on("side_results", (msg) => {
        console.log("emitting handle_side_results, msg=", msg);
        socket.emit("handle_side_results", msg);
        window.location.href = "{{ url_for('market') }}";
    })

    function handle_buy_side() {
        let user_name = document.getElementById("user").innerHTML;
        let update = {
            "side" : "BUY",
            "user": user_name,
        };
        socket.emit("handle_open_side", JSON.stringify(update));
    }

    function handle_sell_side() {
        let user_name = document.getElementById("user").innerHTML;
        let update = {
            "side" : "SELL",
            "user": user_name
        };
        socket.emit("handle_open_side", JSON.stringify(update));
    }

</script>
</body>
</html>