<html>

<head>
    <title>Trading Game Width Phase</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
</head>

<body>

<p id="clock"></p>
<br> <br> <br>
Time remaining: <p id="time_left"></p> <br>
Quantity to trade: <p id="qty_desc">number of birds / number of people</p> <br>
Current minimum width: <p id="best_width"></p> - <p id="best_name"></p>

<div>{{ foo }}</div>

<form action="" method="" class="width-form">
    <div class="width-form">
        <label for="px">width: </label>
        <input type="text" name="width" id="width-input" required>
    </div>
    <div class="width-form">
        <input type="button" onclick="handle_width_update()" value="send">
    </div>
</form>

<div id="initial-submission" style="display: none;">
    <div class="bid-form">
        <label for="bid">bid: </label>
        <input type="text" name="bid" id="bid-input" required>
    </div>
    <div class="bid-form">
        <input type="button" onclick="handle_bid_submission()" value="send">
    </div>
</div>

<script>
    const socket = io();

    socket.on("connect", () => {
        console.log("socket connected))");
        console.log("session id: ", socket.io.engine.id);
        let connection = {"browser_session_id": socket.io.engine.id};
        socket.emit("register_browser_connection", JSON.stringify(connection));
    });

    socket.on("tick", (msg) => {
        console.log("session id: ", socket.io.engine.id);
        let d = JSON.parse(msg);
        let element = document.getElementById("clock");
        element.innerHTML = d["dt"];

        if ("width_time_left" in d) {
            let width_ele = document.getElementById("time_left");
            width_ele.innerHTML = d["width_time_left"];
        }
    });

    socket.on("best_width_update", (msg) => {
        console.log("best_width_update, msg=", msg);
        let d = JSON.parse(msg);
        let width_holder = document.getElementById("best_width");
        let name_holder = document.getElementById("best_name");
        width_holder.innerHTML = d["width"];
        name_holder.innerHTML = d["player"];
    });

    socket.on("end_game", (msg) => {
        console.log("end game, msg=", msg);
        let d = JSON.parse(msg);
        if (d["winner_browser_id"] === socket.io.engine.id) {
            console.log("CONGRATULATIONS, YOU ARE THE WINNER!");
            let element = document.getElementById("initial-submission");
            element.style.display = 'block';
        } else {
            console.log("sucks to suck, you lost");
        }
    });

    socket.on("advance_to_trading_open", (msg) => {
        console.log("advance_to_trading_open");
        let d = JSON.parse(msg);
        if (d["initial_mm"] === socket.io.engine.id) {
            window.location.href = "{{ url_for('market') }}";
        } else {
            window.location.href = "{{ url_for('open_route') }}"
        }
    });

    function handle_width_update() {
        console.log("handle_width_update");
        let w = document.getElementById("width-input").value;
        let update = { "width": w };
        socket.emit("handle_width_update", JSON.stringify(update));
    }

    function handle_bid_submission() {
        console.log("handle_bid_submission");
        let bid = document.getElementById("bid-input").value;
        let width_holder = document.getElementById("best_width");
        let update = {
            "bid": parseFloat(bid), 
            "ask": parseFloat(bid) + parseFloat(width_holder.innerHTML)
        };
        socket.emit("handle_bid_submission", JSON.stringify(update));
    }

</script>
</body>
</html>