<html>
    <head>
        <title>Trading Game Width Phase</title>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
            integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
            crossorigin="anonymous"></script>
    </head>
</html>

<p id="clock"></p>
<br> <br>
Quantity to trade: <p id="qty_desc">number of birds / number of people</p> <br>
Current best bid: <p id="best_width"></p> - <p id="best_name"></p>

<form action="" method="" class="width-form">
    <div class="width-form">
        <label for="px">width: </label>
        <input type="text" name="width" id="width-input" required>
    </div>
    <div class="width-form">
        <input type="button" onclick="handle_width_update()" value="send">
    </div>
</form>

<script>
    const socket = io();

    socket.on("connect", () => {
        console.log("socket connected))");
    });

    socket.on("tick", (msg) => {
        let d = JSON.parse(msg);
        let element = document.getElementById("clock");
        element.innerHTML = d["dt"]
    });

    socket.on("best_width_update", (msg) => {
        console.log("best_width_update, msg=", msg);
        let d = JSON.parse(msg);
        let width_holder = document.getElementById("best_width");
        let name_holder = document.getElementById("best_name");
        width_holder.innerHTML = d["width"];
        name_holder.innerHTML = d["player"];
    });

    function handle_width_update() {
        console.log("handle_width_update");
        let w = document.getElementById("width-input").value;
        let update = {"width": w};
        socket.emit("handle_width_update", JSON.stringify(update));
    }

</script>